body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  text-align: center;
  padding: 5px;
  margin: 10px;
}

header {
  margin: 30px;
  /* display: flex;
  justify-content: space-around; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button-one {
  background-color: cadetblue;
  border: none;
  padding: 17px;
  margin: 10px;
  border-radius: 25px;
  color: white;
}

.button-one:hover {
  color: #000;
  border: #000 1px solid;
  background-color: #fff;
  transform: scale(1.05);
}

.button-two {
  background-color: rgb(136, 96, 170);
  border: none;
  padding: 17px;
  margin: 10px;
  border-radius: 25px;
  color: white;
}

.button-two:hover {
  color: #000;
  border: #000 1px solid;
  background-color: #fff;
  transform: scale(1.05);
}

.pendulum-one {
  text-align: center;
  margin: 50px 0;
}

.pendulum-one span {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 10px 12px;
}

.pendulum-one .vertical-line {
  border-right: 1px solid black;
  width: 50%;
  height: 60px;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 14px;
  margin: 0 70px;
}

.image-section img {
  border: none;
  border-radius: 40px;
  width: 100%;
}

.modern-use-section {
  text-align: center;
  margin-top: 70px;
  color: #000;
  display: block;
}

.modern-use-heading {
  font-size: 14px;
  font-weight: bold;
  color: rgb(74, 150, 166);
  letter-spacing: 5px;
  text-align: center;
  margin-top: 70px;
}

.smarter-meetings-heading {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
}

.pendulum-two {
  text-align: center;
  margin: 50px 0;
}

.pendulum-two span {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 10px 12px;
}

.pendulum-two .vertical-line {
  border-right: 1px solid black;
  width: 50%;
  height: 60px;
}

.main-page {
  text-align: center;
}

footer {
  background: linear-gradient(rgb(74, 150, 166, 0.6), rgb(74, 150, 166, 0.6)),
    url(Images/image-footer-background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 180px;
  text-align: center;
}

.footer-text {
  padding-top: 60px;
}

.footer-button {
  border: none;
  border-radius: 23px;
  color: white;
  background-color: cadetblue;
  padding: 18px;
}

.footer-button:hover {
  color: #000;
  border: #000 1px solid;
  background-color: #fff;
  transform: scale(1.05);
}

/* Media quary for mobile */
@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  nav {
    text-align: ceter;
    padding: 10px;
  }

  header {
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  header img {
    width: 70%;
    margin-top: 20px;
  }

  header h1 {
    font-size: 30px;
    margin-top: 40px;
    line-height: 35px;
  }

  .header-Right-image {
    margin-top: 50px;
  }

  .smarter-meetings-heading {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
  }

  .modern-use-paragraph {
    font-size: 15px;
    padding: 0 5px;
  }

  .footer-text {
    padding-top: 30px;
  }
}

/* Media quary for tablet */
@media (min-width: 576px) and (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  header img {
    width: 80%;
    margin-top: 20px;
  }
}
